/* Header.css */

.header {
    background-color: #058a10 !important;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    height: 60px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 50px;
}

.header h4 {
    margin: 0;
    text-align: center;
}