@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
  margin: 0;
  background-color: #1a1a1a;
  color: aliceblue;
  margin-left: 250px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Oxanium', Arial, Helvetica, sans-serif !important;
  font-weight: 400;
}
